/* Estilos para el fondo de imagen */
body {
    margin: 0;
    padding: 0;
    background-image: url('fondo.jpg'); /* Reemplaza 'tu-imagen.jpg' con la URL o la ruta de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Esto mantiene el fondo fijo mientras se desplaza la página */
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff; /* Color de texto para que sea legible en la imagen de fondo */
}
/* Estilos personalizados para las tarjetas */
.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 10rem;
    height: 10rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.pokemon-card:hover {
    transform: scale(1.1); /* Aumenta el valor de escala para un efecto de movimiento más pronunciado */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    max-height: 200px;
    margin: 0 auto;
    display: block;
    border-radius: 2%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.pokemon-card:hover .card-img-top {
    transform: rotateY(180deg);
}

.card-title {
    text-align: center;
}

/* Centrar las tarjetas en el contenedor */
#contenedor-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos responsivos */
@media (max-width: 767px) {
    .pokemon-card {
        width: 100%; /* Tarjetas ocupan todo el ancho en pantallas pequeñas */
    }
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
}

/* Estilos para la barra de búsqueda */
.search-input {
    width: 100%; /* Ancho completo de la barra de búsqueda */
    border-radius: 25px; /* Borde redondeado */
    padding: 8px 16px; /* Espaciado interno */
    border: none; /* Sin borde */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el botón de búsqueda */
#searchButton {
    border-radius: 25px; /* Borde redondeado */
    margin-left: 10px; /* Espaciado izquierdo */
}

/* Estilos para el enlace de la barra de navegación */
.navbar-brand {
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
}

/* Estilo para el logotipo */
#logo {
    width: 80px; /* Ancho deseado */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: transparent; /* Fondo transparente */
}

/* Estilo para el enlace del logotipo */
.navbar-brand {
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    color: #fff; /* Color del texto */
}
.modal-dialog {
    max-width: 800px;
  }

  .modal-content {
    border: none;
    border-radius: 20px;
  }

  .modal-header {
    background-color: #f8d030;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .modal-body {
    background-color: #f5f5f5;
  }

  /* Agrega margen inferior a las estadísticas y movimientos */
  #statsList li,
  #movesList li {
    margin-bottom: 5px;
  }
  /* Estilos para centrar el modal */
.modal-dialog {
    margin: 0 auto;
  }
  
  /* Estilos para personalizar el modal */
  .modal-content {
    background-color: #f8f9fa; /* Cambia este color según tus preferencias */
    color: #000;
  }
  
  /* Estilos para el ícono de cierre del modal */
  .close {
    color: #000;
  }
  /* Estilos para el botón de cierre del modal */
  /* Estilos CSS para las barras de estadísticas */
.stat-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 25px;
}

.stat-label {
  width: 50px;
  padding-right: 20px;
}

.stat-bar {
  height: 15px;
  background-color: #4caf50; /* Color de fondo de la barra */
  transition: width 0.5s; /* Animación de transición al cambiar el ancho */
}

/* CSS personalizado para hacer más pequeñas las cards */
.card {
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1rem; /* Reduzca el tamaño de la fuente del título */
}

.card-body {
  padding: 10px;
}

.list-group-item {
  padding: 5px;
  border: none;
}
/* Estilo de las tarjetas */
.custom-card {
  background-color: #F5F5F5; /* Color de fondo de las tarjetas */
  border: 2px solid #333; /* Borde de las tarjetas */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo de la fuente */
.custom-font {
  color: #FF6600; /* Color de la fuente */
  font-weight: bold; /* Texto en negrita */
}
